/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "article picture"
    "footer picture";
  width: 80%;
  margin: 25px auto;
}

header {
  grid-area: header;
  height: 40px;
  display: flex;
}

picture {
  grid-area: picture;
  justify-self: end;
}

article {
  grid-area: article;
}

nav {
  flex-grow: 1;
}

#brand>img {
  height: 40px;
}

#navigation>ul>li {
  display: inline-block;

}

#navigation>ul>li>a {
  text-decoration: none;
  font-size: 15;
  font-weight: bold;
  line-height: 40px;
  color: #6066f2;
  padding: 0 5px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

#navigation>ul>li>a:hover {
  color: #8a378d;
  border-bottom: 1px dotted #8a378d;
  border-top: 1px dotted #8a378d;
  padding: 10px 15px;
}

#btn-bag {
  background-color: #488cf5;
}

#btn-bag:hover {
  background-color: #8a378d;
}

.button {
  width: 150px;
  height: 40px;
  border-radius: 23px;
  box-shadow: 3px 3px 3px 0 rgb(0, 0, 0, 0.16);
  -webkit-box-shadow: 3px 3px 3px 0 rgb(0, 0, 0, 0.16);
  background-color: #f4891f;
  color: #fff;
  border: none;
  font-size: 12px;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.button>img {
  height: 20px;
  vertical-align: middle;
}

.button:hover {
  background-color: #8a378d;
}

#article>span {
  width: 444px;
  height: 343px;
  opacity: 0.35;
  font-size: 288px;
  font-weight: bold;
  letter-spacing: 80px;
  text-align: center;
  color: #dbdbdb;
  position: absolute;
  z-index: -1;
  margin-top: 90px;

}

#article>h1 {
  width: 504px;
  height: 183px;
  font-size: 54px;
  font-weight: bold;
  text-align: center;
  color: #488cf5;
  margin-top: 130px;
}

#article>h2 {
  width: 512px;
  height: 90px;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #adadad;
}